/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
  .theme-dark .dark-theme-decor {
  display: block;
}
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --accent-color: rgba(255, 0, 112, 1);
  --text-size: 18px;
  --background-color-page: rgba(0, 0, 40, 1);
  --article-item-title-footer-color: rgba(219, 0, 255, 1);
  --font-family: "IBM Plex mono", sans-serif;
  --color-p-text: rgba(241, 178, 206, 1);
  --header-text-description-title: rgba(0, 0, 40, 1);
  --back-color-title-description: rgba(255, 0, 112, 1);
  --background-image-header: url("../images/cover-image-dark.png");
  --text-title: rgba(255, 0, 112, 1);
  --header-footer-color-shadow: rgba(255, 0, 112, 1);
  --corner-color: rgba(255, 0, 112, 1);
  --color-button: rgba(255, 0, 112, 1);
  --color-button-hover: rgba(255, 0, 112, 0.4);
  --text-link-hover: rgba(241, 178, 206, 1);
  --text-link-focus: rgba(241, 178, 206, 1);
  --color-button-active: rgba(255, 0, 112, 1);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-dark .header-text-lamp {
  visibility: visible;
}