/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: rgba(255, 0, 112, 1);
  --text-size: 18px;
  --background-color-page: rgba(255, 241, 247, 1);
  --article-item-title-footer-color: rgba(255, 194, 230, 1);
  --font-family: "IBM Plex mono", sans-serif;
  --color-p-text: rgba(53, 52, 48, 1);
  --block-text-description_title: rgba(53, 52, 48, 1);
  --back-color-title-description: rgba(255, 141, 203, 1);
  --background-image-header: url("../images/cover-image-light.png");
  --block-text_title: rgba(53, 52, 48, 1);
  --header-footer-color-shadow: rgba(255, 141, 203, 1);
  --corner-color: rgba(53, 52, 48, 1);
  --color-button: rgba(53, 52, 48, 1);
  --color-button-hover: rgba(50, 49, 45, 0.4);
  --text-link-hover: rgba(53, 52, 48, 1);
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light .header-text-lamp {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: rgba(255, 0, 112, 1);
    --text-size: 18px;
    --background-color-page: rgba(255, 241, 247, 1);
    --article-item-title-footer-color: rgba(255, 194, 230, 1);
    --font-family: "IBM Plex mono", sans-serif;
    --color-p-text: rgba(53, 52, 48, 1);
    --block-text-description_title: rgba(53, 52, 48, 1);
    --back-color-title-description: rgba(255, 141, 203, 1);
    --background-image-header: url("../images/cover-image-light.png");
    --block-text_title: rgba(53, 52, 48, 1);
    --header-footer-color-shadow: rgba(255, 141, 203, 1);
    --corner-color: rgba(53, 52, 48, 1);
    --color-button-hover: rgba(255, 0, 112, 0.4);
    --color-button: rgba(53, 52, 48, 1);
  }
  .theme-light .header-text-lamp {
    visibility: hidden;
  }
}
